button{
    position: absolute;
    top: 50px;
    left: 50px;

    height: 100px;
    padding: 8px 16px;
    border: none;
    border-radius: 22px;
}


button:hover{
    background-color: yellow;
    padding: 12px;
    border-radius: 11px;
}
button{
    scale: 2;
    position: absolute;
    top: 10px;
    left: 40px;
    animation-name:button-animationtype-1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;

}
@keyframes button-animationtype-1 {
    
    0% {
        top:20px;
        left:40px;
    }
    30% {
        top:20px;
        left:500px;
    }
    75% {
        top:400px;
        left:40px;
    }
    100% {
        top:400px;
        left:10px;
    }
   
}