/* .parent{
    display: grid;
grid-template-columns: 1fr 1fr 1fr;
 /* grid-template-columns: repeat(4,50px);  */
grid-template-rows:50px 75px 50px ;
background-color: aqua;
column-gap: 10px;
row-gap: 10px;
}
.child{
    background-color: yellow;
    display:flex;
    justify-content: center;
    align-items: center;
}
.header{
    grid-column-start:  1;
    grid-column-end: 4;
    background-color: orange;
}
.menu{
    grid-column-start: 2;
    grid-row-end: 4;
}
.footer{
    grid-column-start: 2;
    grid-column-end: 4;
}
.parent{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(50px,1fr));
}
.child{
    background-color: red;
    border: 1px solid red;
    min-width: 50px;
    min-height: 100px;
    min-width: 50px;
    min-height: 100px;
    
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    min-width: 100vh;
    background-color: red;
    
}
.parent{
    background-color: pink;
    height: 100px;
    width: 100px;
    position: relative;
    top: 150px ;
}
